body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    background-image: url("./header-bg.jpg");
    height:800px;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}
.banner .nav {
    border: 1px solid gray;
    height: 80px;
}
.banner .nav .nav-left {
    border : 1px solid gray;
    height: 30px;
    width: 30%;
}